@page "/ParticipantesAlumnos"
<PageTitle>SEO | Regristro Participantes</PageTitle>


<EditForm Model="@oParticipante" OnValidSubmit="@OnValidHandled" OnInvalidSubmit="@OnInvalidHandled_ScrollToTop">

    <div>
        <RadzenStack Gap="0" class="rz-py-20 rz-px-12">
            <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter">
                Todos los campos son obligatorios.
            </RadzenAlert>
            <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Warning" Variant="Variant.Flat" Shade="Shade.Dark">
                ATENCIÓN: En caso de que se detecte que existe duplicidad de datos de un mismo usuario,
                se le suspenderá el derecho del uso del estacionamiento.
            </RadzenAlert>
        </RadzenStack>
    </div>

    <!-- ******************************************************************* DATOS PERSONALES ******************************************************************* -->
    <RadzenCard class="mt-3">
    <RadzenFieldset AllowCollapse="true" ExpandTitle="Datos Personales" CollapseTitle="Datos Personales" ExpandAriaLabel="" CollapseAriaLabel="" Class="rz-border-base-500 rz-border-radius-1 rz-shadow-3">
        <HeaderTemplate>
            <span class="d-inline-flex align-items-center align-middle">
                <RadzenIcon Icon="account_box" class="me-1" /><b>Datos Personales</b>
            </span>
        </HeaderTemplate>
        <ChildContent>
            
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Nombre(s)" AllowFloatingLabel="false" Variant="Variant.Flat" Class="w-100 mt-3" Disabled="false">
                        @* <Start><RadzenIcon Icon="person" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start> *@
                        <ChildContent>
                                <RadzenTextBox @bind-Value="@oParticipante.PartNombre" style="border-bottom: 3px solid #026969;" MinLength="0" MaxLength="200" Placeholder="Escribe tu(s) nombre(s)"
                                            @oninput="@((e) => oParticipante.PartNombre = e.Value.ToString().ToUpper())"
                                            onkeypress="return /^[A-Za-z. ]+$/.test(String.fromCharCode(event.keyCode || event.which));" />
                             
                        </ChildContent>
                        <Helper><RadzenText TextStyle="TextStyle.Caption" /></Helper>
                    </RadzenFormField>
                    <ValidationMessage For="@(() => oParticipante.PartNombre)" />
                </div>

                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Primer Apellido" AllowFloatingLabel="false" Variant="Variant.Flat" Class="w-100 mt-3" Disabled="false">
                        @* <Start><RadzenIcon Icon="person" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start> *@
                        <ChildContent>
                            <RadzenTextBox @bind-Value="@oParticipante.PartPrimerApellido" style="border-bottom: 3px solid #026969;" MinLength="0" MaxLength="200" Placeholder="Primer Apellido"
                                            @oninput="@((e) => oParticipante.PartPrimerApellido = e.Value.ToString().ToUpper())"
                                            onkeypress="return /^[A-Za-z. ]+$/.test(String.fromCharCode(event.keyCode || event.which));" />

                        </ChildContent>
                        <Helper><RadzenText TextStyle="TextStyle.Caption" /></Helper>
                    </RadzenFormField>
                    <ValidationMessage For="@(() => oParticipante.PartPrimerApellido)" />
                </div>

                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Segundo Apellido" AllowFloatingLabel="false" Variant="Variant.Flat" Class="w-100 mt-3" Disabled="false">
                        @* <Start><RadzenIcon Icon="person" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start> *@
                        <ChildContent>
                            <RadzenTextBox @bind-Value="@oParticipante.PartPrimerApellido" style="border-bottom: 3px solid #026969;" MinLength="0" MaxLength="200" Placeholder="Segundo Apellido"
                                            @oninput="@((e) => oParticipante.PartSegundoApellido = e.Value.ToString().ToUpper())"
                                            onkeypress="return /^[A-Za-z. ]+$/.test(String.fromCharCode(event.keyCode || event.which));" />

                        </ChildContent>
                        <Helper><RadzenText TextStyle="TextStyle.Caption" /></Helper>
                    </RadzenFormField>
                    <ValidationMessage For="@(() => oParticipante.PartSegundoApellido)" />
                </div>

                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="CURP" AllowFloatingLabel="false" Placeholder="" AllowClear="true" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                        <Start><RadzenIcon Icon="document_scanner" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                        <ChildContent>
                                <RadzenTextBox  @bind-Value="@oParticipante.PartCurp" style="border-bottom: 3px solid #026969;;" MinLength="0" MaxLength="18"
                                            @oninput="@((e) => oParticipante.PartCurp = e.Value.ToString().ToUpper())"
                                            onkeypress="return /^[A-Za-z0-9]+$/.test(String.fromCharCode(event.keyCode || event.which));" />
                        </ChildContent>
                        <Helper>
                            <RadzenText TextStyle="TextStyle.Body1" TagName="TagName.P" TextAlign="TextAlign.Justify">
                               
                            </RadzenText>
                        </Helper>
                    </RadzenFormField>
                    <ValidationMessage For="@(() => oParticipante.PartCurp)" />
                </div>

                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="No. de Boleta" AllowFloatingLabel="false" Placeholder="" AllowClear="true" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                        <Start><RadzenIcon Icon="dialpad" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                        <ChildContent>
                                <RadzenTextBox @bind-Value="@oParticipante.PartCurp" style="border-bottom: 3px solid #026969;;" MinLength="0" MaxLength="18"
                                               @oninput="@((e) => oParticipante.PartBoleta = e.Value.ToString().ToUpper())"
                                               onkeypress="return /^[A-Za-z0-9]+$/.test(String.fromCharCode(event.keyCode || event.which));" />
                        </ChildContent>
                        <Helper>
                            <RadzenText TextStyle="TextStyle.Caption"  />
                        </Helper>
                    </RadzenFormField>
                        <ValidationMessage For="@(() => oParticipante.PartBoleta)" />
                </div>

                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Tipo de Solicitante" AllowFloatingLabel="false" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                        <Start><RadzenIcon Icon="tag" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                        <ChildContent>
                            <RadzenDropDown 
                                            @bind-Value="@oParticipante.PartIdTipoParticipante"
                                            TValue="int"
                                            ValueProperty="TipopartNombre"
                                            TextProperty="TipopartNombre"
                                            Data="@oTipoParticipante.Data"
                                            AllowClear="true"
                                            AllowFiltering="true"
                                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            FilterOperator="StringFilterOperator.Contains"
                                            AllowVirtualization="true"
                                            Placeholder="Selecciona una opción"
                                            FilterPlaceholder="Buscar..."
                                            Multiple="false"
                                            Chips="true"
                                            InputAttributes="@(new Dictionary<string,object>(){{ "font-family", "Arial" }})"
                                                style="border-bottom: 3px solid #026969;" />
                        </ChildContent>
                        <Helper><RadzenText TextStyle="TextStyle.Caption" /></Helper>
                    </RadzenFormField>
                    <ValidationMessage For="@(() => oParticipante.PartIdTipoParticipante)" />
                </div>
















                <div class="col-md-4 col-lg-4">
                    <RadzenFormField  AllowFloatingLabel="false" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                        <Start><RadzenIcon Icon="phone_iphone" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                        <ChildContent>
                                <RadzenMask @bind-Value="@oParticipante.PartNoTelCelular" MinLength="0" MaxLength="20" style="border-bottom: 3px solid #026969;"
                                        Mask="** ** ** ** **" CharacterPattern="[0-9]" Placeholder="00 00 00 00 00" />
                        </ChildContent>
                        <Helper>
                            <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.Div" TextAlign="TextAlign.Justify" class="alert alert-info my-1 p-2"/>
                        </Helper>
                    </RadzenFormField>
                    <ValidationMessage For="@(() => oParticipante.PartNoTelCelular)" />
                </div>







            </div>





        </ChildContent>
        <SummaryTemplate>
            
                
            
        </SummaryTemplate>
    </RadzenFieldset>
    </RadzenCard>


</EditForm>

@code {

    private RequestDTO_Participante? oParticipante = new();
    public Response<List<RequestViewModel_TipoParticipante>>? oTipoParticipante = new();


    protected override async Task OnInitializedAsync()
    {
        oTipoParticipante = await servicioTipoParticipante.GetAllDataByStatusAsync(0);
    }


    public async Task OnValidHandled(){}

    public async Task OnInvalidHandled_ScrollToTop(){}



}
